body {
    color: #181818;
}

aside {
    background-color: #1b92d0; 
    color: white;
}

ul.list li {
    padding: 0;
    text-transform: none;
}

ul.list li + li:before {
    content: "•";
    padding: 0 0.5rem;
}

header p { display: none; }

main a { color: #1b92d0; }
main a:link { color: #1b92d0; }
main a:hover { color: #66bdea; }
main a:active { color: #8bd7ff; }

.cell {
    float: left;
    width: 100%;
}

.admonition.danger {
    border-radius: 5px;
    background-color: #ef9f5c; 
    color: white;
    padding: 0.2em 1em;
}

@media screen and (min-width: 768px) {
    .cell {
        width: 50%;
    }
    ul.list li {
        text-align: left;
        margin-left: 20%;
        text-transform: none;
    }

    ul.list li + li:before {
        content: "";
        padding: 0;
    }

    ul.social {
        text-align: left;
        margin-left: 20%;
    }
}


@media screen and (min-width: 1200px) {
    .cell {
        width: 33%;
    }
}
