<ul id='contact-icons'>
    <li><a href='https://www.facebook.com/HackerspaceSilesia' class='fa fa-2x fa-facebook'></a></li>
    <li><a href='https://twitter.com/hs_silesia' class="fa fa-2x fa-twitter"></a></li>
    <li><a href='https://github.com/hackerspace-silesia' class="fa fa-2x fa-github"></a></li>
    <li><a href='https://plus.google.com/105433210692287375139' class="fa fa-2x fa-google-plus"></a></li>
    <li><a href='mailto:info@hs-silesia.pl' class="fa fa-2x fa-envelope"></a></li>
</ul>
