<head>
    <title>Hackerspace Silesia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='css/font-awesome.min.css' rel='stylesheet' />
    <link href="css.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" />
    <meta charset="UTF-8" />
</head>
<body>
    <div id='main'>
        <div id='left'>
            <img src='logo.png' id='logo' />
            {{ left_section | safe }}
        </div>
        <div id='right'>
            {{ right_section | safe }}
        </div>
    </div>
</body>
